:root {
  --primary-color: #ffffff;
  --main-text-color: #111;
  --blue-color: #229ed9;
  --light-blue-color: #2aabee;
}

body {
  max-width: 1920px;
  background-color: var(--primary-color);
  font-family: "Roboto", sans-serif;
  color: var(--main-text-color);
}

.header_area {
  font-style: normal;
  font-weight: 500;
}

.brand_name {
  font-size: 48px;
}

@media (max-width: 574px) {
  .brand_name {
    font-size: 24px;
  }
}

.main_area {
  background-color: var(--primary-color);
  color: var(--main-text-color);
}

.heading_main {
  font-style: normal;
  font-weight: 800;
  font-size: 42px;
  line-height: 130%;
  color: #111;
}
@media (max-width: 574px) {
  .heading_main {
    font-size: 24px;
  }
}

@media (max-width: 766px) {
  .heading_main {
    font-size: 32px;
  }
}

.section_info {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 130%;
  color: #657791;
}

@media (max-width: 574px) {
  .section_info {
    font-size: 16px;
  }
}

@media (max-width: 574px) {
  .section_info {
    font-size: 20px;
  }
}

.main_button {
  background-color: var(--light-blue-color);
  border-color: var(--light-blue-color);
  color: var(--primary-color);
}

.light-blue {
  color: var(--light-blue-color);
}

/* 
    font-style: normal;
    font-weight: 800;
    font-size: 42px;
    line-height: 130%;
    color: #111; */
